<h1 class="text-center"><%= t('admin.order.order_detail')%></h1>
<%= render partial: 'partners/orders/order_detail', collection: @order_details %>
<%= link_to t('back'), partners_orders_path, class:'btn btn-secondary glyphicon glyphicon-arrow-left' %>
