<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<%= link_to "Sign-In", new_partner_session_path , class: "sign-in-custom carousel-caption justify-content-center" %>
<div class="alrazy-title body carousel-caption" data-splitting>Welcome to the food store management website </div>
<%= image_tag "partner_cover.jpg", class: "body image-custom" %>
<%= render "layouts/footer" %>
<script src="https://unpkg.com/splitting@1.0.0/dist/splitting.js"></script>
<script>
    Splitting();
</script>
