<h1>statistics on the number of best-selling products in <%= params[:delivery_time]["statistics(1i)"].to_i%></h1>
<%= link_to 'Statistics by month', admin_products_statistics_month_path, remote: true %>
<%= link_to 'Statistics by quarter', admin_products_statistics_quarter_path, remote: true %>
<%= link_to 'Statistics by year', admin_products_statistics_year_path, remote: true %>
<div class="statistics_by_month">
</div>
<div class="statistics_by_quarter">
</div>
<div class="statistics_by_year">
</div>
