<%= link_to 'Statistics by month', admin_partners_statistics_month_path, remote: true %>
<%= link_to 'Statistics by quarter', admin_partners_statistics_quarter_path, remote: true %>
<%= link_to 'Statistics by year', admin_partners_statistics_year_path, remote: true %>
<div class="statistics_by_month">
</div>
<div class="statistics_by_quarter">
</div>
<div class="statistics_by_year">
</div>
