<tr>
  <td><%= city.id %></td>
  <td><%= city.name %></td>
  <td>
    <span><%= link_to "Edit", edit_admin_city_path(city),
                              class: "btn btn-success glyphicon glyphicon-edit" %></span>
    <span><%= link_to "Delete", admin_city_path(city),
                                data: { confirm: 'Are you sure you want to delete?' },
                                method: :delete, class: "btn btn-danger glyphicon glyphicon-trash" %></span>
  </td>
</tr>
