<div class= "footer-custom">
  <p class= "footer-1">Đây là tài khoản được cung cấp bởi QAKHA Delivery để hỗ trợ đối tác sử dụng và quản lý cửa hàng.<br>
  Chúng tôi hỗ trợ bạn kiểm tra, theo dõi, đối soát giao dịch được dễ dàng, nhanh chóng và an toàn hơn. <br>
  Bạn có thể quản lý giao dịch và truy cập các tính năng khác chỉ với một tài khoản QAKHA Delivery Partner duy nhất.
  <br/> <br> <br>
  Nếu bạn cần trợ giúp từ QAKHA Delivery, vui lòng liên hệ:
  <br>
  Hotline: 0396355253 <br>
  Địa chỉ email: qakhadelivery@gmail.com
</p>
</div>
